.bash_history
.bash_logout
.gitconfig
.bashrc
.cache/
.hypothesis/
.jupyter/
.kaggle/
.local/
.profile
.python_history
.vessl/
.vscode-server/
.wget-hsts
__pycache__/
log/
runs/
save/

download.log
nohup.out
